.about {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

.about .overlap-3 {
    background-color: white;
    padding: 20px;
    box-shadow: none;
}

.about .text-wrapper-8 {
    font-family: "PT Serif-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
}

.about .line {
    max-width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.about .p span {
    display: block;
    margin-top: 10px;
    font-size: 18px;
    text-align: center; 
}

@media (max-width: 768px) {
    .about {
        padding: 20px; 
    }
    .text-wrapper-8 {
        font-size: 24px; 
    }
    .line {
        display: none; 
    }
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.group-wrapper {
    position: relative;
    width: 100%;
    max-width: 895px;
    margin: 0 auto;
    background-color: var(--color-primary);
    padding-left: 0; 
    margin-left: 0; 
}
 
.group-2 {
    position: relative; 
    width: 1299px;
    height: 275px;
    top: 0; 
    left: 0;
}
  
.overlap-5 {
    position: absolute;
    width: 431px;
    height: 249px;
    top: 0;
    left: 0;
    background-color: var(--color-primary); 
}
  
.text-wrapper-11 {
    position: absolute;
    top: 119px;
    left: 188px;
    font-family: "PT Sans-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}
  
.overlap-group-wrapper {
    position: absolute;
    width: 401px;
    height: 249px;
    top: 26px;
    left: 464px;
}
  
.overlap-group-4 {
    position: relative;
    width: 397px;
    height: 249px;
}
  
.text-wrapper-12 {
    position: absolute;
    width: 231px;
    top: 0;
    left: 0;
    font-family: "PT Serif-Bold", Helvetica;
    font-weight: 700;
    color: #f4f4f4;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}
  
.text-wrapper-13 {
    position: absolute;
    width: 351px;
    top: 62px;
    left: 46px;
    font-family: "PT Sans-Regular", Helvetica;
    font-weight: 400;
    color: #f4f4f4;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}
  
.overlap-wrapper {
    position: absolute;
    width: 380px;
    height: 250px;
    top: 25px;
    left: 921px;
}

.overlap-6 {
    position: relative;
    width: 376px;
    height: 250px;
}
  
.uil-phone {
    position: absolute;
    width: 19px;
    height: 20px;
    top: 129px;
    left: 0;
}
  
.overlap-7 {
    position: absolute;
    width: 376px;
    height: 250px;
    top: 0;
    left: 0;
}
  
.tdesign-location {
    position: absolute;
    width: 19px;
    height: 19px;
    top: 69px;
    left: 0;
}
  
.text-wrapper-14 {
    position: absolute;
    width: 231px;
    top: 0;
    left: 3px;
    font-family: "PT Serif-Bold", Helvetica;
    font-weight: 700;
    color: #f4f4f4;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
}
  
.jl-raya-gunung-anyar {
    position: absolute;
    width: 351px;
    top: 63px;
    left: 25px;
    font-family: "PT Sans-Regular", Helvetica;
    font-weight: 400;
    color: #f4f4f4;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}
  
.material-symbols {
    position: absolute;
    width: 19px;
    height: 19px;
    top: 100px;
    left: 0;
}



.carousel-inner {
    text-align: right; /* Mengatur teks ke sisi kanan */
}

.carousel-item img {
    max-width: 100%; /* Maksimalkan lebar gambar agar sesuai dengan kontainer */
    margin-left: auto; /* Geser gambar ke sisi kanan */
    margin-right: 0;
}

.c_login-frame {
    width: 100%;
    overflow: hidden;
    max-width: 1440px;
    box-sizing: border-box;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #f4f4f4;
  }
  
  .c_login-rectangle {
    width: 100%;
    height: auto;
    margin: 0;
    display: block;
    max-width: 658px;
    box-shadow: 11px 11px 12px 1px rgba(0,0,0,.25);
  }
  
  .c_login-text,
  .c_login-text1 {
    margin-top: 0;
    text-align: center;
    margin-bottom: 0;
  }
  
  .c_login-text {
    width: 100%;
    max-width: auto;
    min-height: auto;
  }
  
  .c_login-text1 {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-family: "PT Sans",sans-serif;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;
  }
  .scrollspy-example {
    background: #0FA9FF;
  }
  .nav-brand .collapse.navbar-collapse .nav-link.text,
  .collapse.navbar-collapse .btn.btn {
    color: #0FA9FF;
  }
  .btn.rounded {
    border-radius: 15px; /* Sesuaikan dengan tingkat kebulatan yang diinginkan */
  }
  
  .navbar-brand .img-main {
    color: #0FA9FF;
  }
  #userNav .btn {
    background-color: #0FA9FF;
    color: white;
  }
/* Gaya tombol saat tidak diklik */
.btn.btn-light.text.py-2.px-4.rounded {
    background-color: white; 
    color: #0FA9FF;
    transition: background-color 0.2s, color 0.2s; /* Transisi perubahan warna */
  }
  
  /* Gaya tombol saat dihover */
  .btn.btn-light.text.py-2.px-4.rounded:hover {
    background-color: white; 
    color: #0FA9FF;
  }
  
    
  