<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In | Prediksi Stunting </title>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='assets/svg/icon.svg') }}" rel="icon" type="images/x-icon"/>
</head>

<body>
</body>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endwith %}
    <div class="wrappers">
        <div class="form-container">
        <h1 class="text-center">Sign In</h1>
          <div class="form-inner">
            <form action= "{{ url_for('login') }}" class="signin" method="POST">
              <div class="field">
                <input type="text" name="email" placeholder="Email" required>
                <!-- <input type="text" placeholder="Username" required> -->
              </div>
              <div class="field">
                <input type="password" name="password" placeholder="Password" required>
              </div>
              <div class="field btn">
                <div class="btn-layer"></div>
                <input type="submit" value="Login">
              </div>
              <div class="signup-link">Don't have an account? <a href="{{ url_for('register') }}" style="color: black;" class="underline-text"><b>Sign Up</b></a></div>
            </form>
          </div>
        </div>
      </div>

      <script>
        const loginText = document.querySelector(".title-text .login");
        const loginForm = document.querySelector("form.login");
        const loginBtn = document.querySelector("label.login");
        const signupBtn = document.querySelector("label.signup");
        const signupLink = document.querySelector("form.signup-link a");
        signupBtn.onclick = (()=>{
            loginForm.style.marginLeft = "-50%";
            loginText.style.marginLeft = "-50%";
        });
        loginBtn.onclick = (()=>{
            loginForm.style.marginLeft = "0%";
            loginText.style.marginLeft = "0%";
        });
        signupLink.onclick = (()=>{
            signupBtn.click();
            return false;
        });
      </script>

</html>